<ng-container *ngIf="loader; else loading">
<ng-container  *ngIf="products?.length > 0; else emptyProduct">
    <div>
        
        <button mat-icon-button [matMenuTriggerFor]="menu" >
            <span>Sort products</span>
            <mat-icon>sort</mat-icon>
           
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sortProduct('name', 'asc')">
                <span>Sort name A-Z</span>
            </button>
            <button mat-menu-item (click)="sortProduct('name', 'desc')">
                <span>Sort name Z-A</span>
            </button>
            <button mat-menu-item (click)="sortProduct('price', 'asc')">
                <span>Sort price up</span>
            </button>
            <button mat-menu-item (click)="sortProduct('price', 'desc')"> 
                <span>Sort price down</span>
            </button>
          </mat-menu>
        
         <div>
                <mat-form-field appearance="outline">
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Search">
                  <div class="example-button-container">
                    <!-- <button mat-mini-fab color="accent">
                      <mat-icon>search</mat-icon>
                    </button> -->
                  </mat-form-field> 
           
            </div>
              
    </div>
<div  class="product-list">
    <app-product-item *ngFor="let product of products" [product]="product" ></app-product-item>
</div>
</ng-container>
<ng-template #emptyProduct>
Not found product
</ng-template> 
</ng-container> 
<ng-template #loading>
    <mat-progress-bar mode="buffer" style="background-color: cyan;"></mat-progress-bar>
</ng-template>

