<div class="main-menu">
<div class="menu">
    <a routerLink="/product">
        <mat-icon>home</mat-icon>  
    </a>
    
    <mat-icon (click)="showMenu()">home</mat-icon>  
    <h2>Name</h2>
    <a routerLink="/product/cart">
        <mat-icon>home</mat-icon> 
        <em>{{cartProductCount}}</em>
    </a>
    <mat-icon>home</mat-icon>  
    <mat-icon>home</mat-icon>  
    
</div>
</div>
<div [ngClass]="{'menu-show': openMenu}">
      <ul class="list-none">
        <a routerLink="/product">
            <li>Products</li>  
        </a>
        <a routerLink="/product">
            <li>Contacts</li>
        </a>
         
    </ul>
</div>