
<div class="tab-list">
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="First">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quidem id qui esse iste consequatur, ratione consequuntur error possimus voluptate </mat-tab>
  <mat-tab label="Second">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas inventore, placeat maxime dignissimos veritatis iure ducimus excepturi possimus vel, tenetur natus consequatur, alias temporibus ex. Illum minima in placeat atque. xcepturi possimus vel, tenetur natus consequatur, alias temporibus ex. Illum minima in placeat atque.</mat-tab>
  <mat-tab label="Third">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam reprehenderit doloribus ex tempore consequatur voluptatem non temporibus ad corporis accusantium obcaecati cupiditate, fugiat est qui eius sequi, corrupti dolores autem. </mat-tab>
  <mat-tab label="Fourth">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quidem id qui esse iste consequatur, ratione consequuntur error possimus voluptate </mat-tab>

</mat-tab-group>
</div>